/* see https://github.com/ELIXIR-Belgium/elixir-toolkit-theme*/

/*
.navbar {
    .navbar-brand {
        font-size: 2.25rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}
*/
img {
    @extend .img-fluid;
}


.accordion-button:not(.collapsed) {
 color:#FFFFFF;
 background-color:#205a86;
 box-shadow:inset 0 -1px 0 rgba(0,0,0,0.125)
}

.accordion-button {
 background-color:#f8f9fa;

}

header .navbar {
    .navbar-brand {
        font-size: 2.25rem;
        //color: $white !important;
            img {
                max-height: 80px;
            }
    }
}

.navigation-tiles {
    .card:hover {
        box-shadow: $box-shadow;
    }

    .card-header {
        a:hover {
            text-decoration: none;
        }
        h3 {
            font-size: 1.1rem;
        }
    }
    .card-text {
        font-size: 0.9rem;
    }

}
.navigation-tiles {
    .card {
        .card-header {
            background-color: #5ac3b1;       
        }
    }
}