/* see https://github.com/ELIXIR-Belgium/elixir-toolkit-theme*/

.navbar {
    .navbar-brand {
        font-size: 2.25rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}
img {
    @extend .img-fluid;
}


.accordion-button:not(.collapsed) {
 color:#FFFFFF;
 background-color:#205a86;
 box-shadow:inset 0 -1px 0 rgba(0,0,0,0.125)
}

.accordion-button {
 background-color:#f8f9fa;

}
